<html>
  <head></head>
  <body>
    <p style="margin: 0in; font-size: 15px; font-family: 'Calibri', sans-serif">
      <span style="color: #1f497d"> Hello, &nbsp;</span>
    </p>
    <!--<p style="margin: 0in; font-size: 15px; font-family: 'Calibri', sans-serif">
      <span style="color: #1f497d">&nbsp;</span>
    </p>-->
    <p style="margin: 0in; font-size: 15px; font-family: 'Calibri', sans-serif">
      <span style="color: #1f497d"
        >&nbsp; &nbsp; Please find the attached report you requested. Hope this
        gives you the insights you were looking for. &nbsp;</span
      >
    </p>
    <!--
    <p style="margin: 0in; font-size: 15px; font-family: 'Calibri', sans-serif">
      <span style="color: #1f497d">&nbsp;</span>
    </p>
    <p style="margin: 0in; font-size: 15px; font-family: 'Calibri', sans-serif">
      <span style="color: #1f497d">&nbsp; &nbsp; Have a good day. </span>
    </p>
    -->
    <p style="margin: 0in; font-size: 15px; font-family: 'Calibri', sans-serif">
      <span style="color: #1f497d"> Regards, </span>
    </p>
    <p style="margin: 0in; font-size: 15px; font-family: 'Calibri', sans-serif">
      <span style="color: #1f497d"> V </span>
    </p>
    <p style="margin: 0in; font-size: 15px; font-family: 'Calibri', sans-serif">
      <span style="color: #1f497d">&nbsp;</span>
    </p>
    <p style="margin: 0in; font-size: 15px; font-family: 'Calibri', sans-serif">
      <strong><span style="color: #0000a1">Veeru Pandit </span></strong
      ><span style="color: #0000a1"><br />&nbsp;</span
      ><em><span style="color: #1f497d">Guppy Dove Investments </span></em>
    </p>
    <p style="margin: 0in; font-size: 15px; font-family: 'Calibri', sans-serif">
      &nbsp;
    </p>
  </body>
</html>
